# Validation Report

## Questions

- Does it make sense to use Handout for choosing and tuning model, stratified k-fold for final evaluation?
- Should I use different metrics for train and validation?
